<ul class="nav nav-pills nav-justified" role="tablist">
	<li class="active"><a href="#about">about u:nify</a></li>
	<li><a href="#examples">examples</a></li>
	<li><a href="#team">our team</a></li>
	<li><a href="#whywouldyouclickthis">nsfw</a></li>

</ul>
<div class="tab-content">
	<div id="about" class="tab-pane fade in active">
		<h1>about u:nify</h1>
		<hr>

		<div class="row" style="margin-bottom:30px;">
			<div class="col-sm-3">
				<h3>what is it</h3>
			</div>
			<div class="col-sm-9">
				created in 2014 during HackMidwest by a few University of Missouri students, u:nify is the solution to keeping track of reminding and tallying attendance to meetings, chapters, and other group events.
			</div>
		</div>


		<div class="row" style="margin-bottom:30px;">
			<div class="col-sm-3">
				<h3>is it free?</h3>
			</div>
			<div class="col-sm-9">
				yeah. for now. these texts cost money to send, so we'll eventually charge just for the overhead we're taking on now. we're considering a $10 monthly subscription.</div>
			</div>

			<div class="row" style="margin-bottom:30px;">
				<div class="col-sm-3" >
					<h3>why via text?</h3>
				</div>
				<div class="col-sm-9">
					in lieu of making 3,429 different apps on different platforms (i.e. iOS, Android, Windows) we decided to go straight to your lock screen with texts. We know it may get annoying, but you signed up for those groups and they want you to be there. ask yourseld the more important questions, not why we're so annoying. 
				</div>
			</div>

			<div class="row" style="margin-bottom:30px;">
				<div class="col-sm-3">
					<h3>why u no use capitals?</h3>
				</div>
				<div class="col-sm-9">
					you're reading this fine. ask yourself why we still need capitalized sentences.</div>
				</div>


				<div class="row" style="margin-bottom:30px;">
					<div class="col-sm-3">
						<h3>how safe is my data?</h3>
					</div>
					<div class="col-sm-9">
						few things here. (1) we don't see your data. (2) we don't sell your data. (3) your data is hidden behind a strong authentication process. and lastly (4) you're literally just a (phone) number to us, so it's very impersonal.
					</div>  
				</div>

				<div class="row" style="margin-bottom:30px;">
					<div class="col-sm-3">
						<h3>who made this?</h3>
					</div>
					<div class="col-sm-9">
						like 5 dudes. the other tab has our smiling beard faceson it. we're all at mizzou so, feel free to pick up our tabs or pay off our debts.
					</div>
				</div>
			</div>
			<div id="examples" class="tab-pane fade">
				test
			</div>
			<div id="team" class="tab-pane fade">
			</div>
			<div id="help" class="tab-pane fade">
				<div class="row" style="margin-bottom:30px;">
					<div class="col-sm-3">
						<h3>someone took your number</h3>
					</div>
					<div class="col-sm-9">
						
					</div>
				</div>
			</div>

			<div class="row" style="margin-bottom:30px;">
				<div class="col-sm-3">
					<h3>lost password</h3>
				</div>
				<div class="col-sm-9">
					enter your phone number and we'll send you a new password.
				</div>
			</div>

			<div class="row" style="margin-bottom:30px;">
				<div class="col-sm-3">
					<h3>lost phone</h3>
				</div>
				<div class="col-sm-9">
					log into this site and hit unsync account, we won't send texts to your phone anymore and will reset your confirmation code
				</div>
			</div>
			<div class="row" style="margin-bottom:30px;">
					<div class="col-sm-3">
						<h3>good god...</h3>
					</div>
					<div class="col-sm-9">
						someone stole your phone and reset your password, for some diabolical reason. just call us and we'll straight up just delete your account. you can register again when you get your phone back.
					</div>
				</div>
		</div>