<!-- Nav tabs -->
<div class="row">
	<div class="col-sm-12">
		<ul class="nav nav-pills nav-justified" role="tablist">
			<li class="active"><a href="#about" role="tab" data-toggle="tab">about</a></li>
			<li><a href="#examples" role="tab" data-toggle="tab">demos</a></li>
			<li><a href="#team" role="tab" data-toggle="tab">our team</a></li>
			<li><a href="#help" role="tab" data-toggle="tab">help <span class="glyphicon glyphicon-question-sign"></span></a></li>
		</ul>
	</div>
</div>

<!-- Tab panes -->
<div class="tab-content">
	<div class="tab-pane fade in active" id="about">
		<h1>about <%= BRAND_NAME %></h1>
		<h3>what is <%= BRAND_NAME %>? <span class="glyphicon glyphicon-leaf"></span></h3>
		created in 2014 during HackMidwest by a few University of Missouri students, <%= BRAND_NAME %> is the solution to keeping track of reminding and tallying attendance to meetings, chapters, and other group events.
		
		<h3>is it free? <span class="glyphicon glyphicon-shopping-cart"></span></h3>
		yeah. for now. these texts cost money to send, so we'll eventually charge just for the overhead we're taking on now. we're considering a $10 monthly subscription.
		
		<h3>why via text?</h3>
		we want to use texting because it's universal and it's more personal, as these groups should be.
		
		<h3>why u no use capitals?</h3>
		you're reading this fine. ask yourself why we still need capitalized sentences.
		

		<h3>how safe is my data?</h3>
		few things here. (1) we don't see your data. (2) we don't sell your data. (3) your data is hidden behind a strong authentication process. and lastly (4) you're literally just a (phone) number to us, so it's very impersonal.
		
		<h3>who made this?</h3>
		5 dudes who go to Mizzou. see the team tab for more detail
	</div>
	<div class="tab-pane fade" id="examples">
		<h1>demos <span class="glyphicon glyphicon-phone"></span></h1>
		beautiful iphone graphics

	</div>
	<div class="tab-pane fade" id="team">
	<h1>developers <span class="glyphicon glyphicon-link"></span></h1>
		<h3>collaborators</h3>
		<ul>
			<li>
				<a href="http://druweth.herokuapp.com/">Drew Wetherington</a>
			</li>
			<li>
				Chris Dopuch
			</li>
			<li>
				Chris Fulton
			</li>
		</ul>
		<h3>honorable mentions</h3>
		<ul>
			<li>
				Georgi Angelov
			</li>
			<li>
				Pat Macintosh
			</li>
		</ul>
	</div>
	<div class="tab-pane fade" id="help">
	<h1>help!</h1>
		<h3>lost password</h3>
			<%= link_to 'go here', new_user_password_path %>. reset your password via email 
		<h3>lost phone</h3>
		log into this site and hit unsync account, we won't send texts to your phone
	</div>
</div>

