
<div id="demo"></div>
<h1>check in</h1>

<form action="/confirmations" id="create_form" class="form-inline" method="post">
	<%= token_tag %>

	<input id="event_id" name="event_id" type="hidden" value="<%= params[:event_id] %>">
	<input id="latitude" name="latitude" type="hidden">
	<input id="longitude" name="longitude" type="hidden">

	<div class="form-group">

		<button class="btn btn-primary" onclick="getLocation()">check in</button>
	</div>
</form>


<%= link_to 'Back', confirmations_path %>

<script>
	var x = document.getElementById("demo");
	function getLocation() {
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(showPosition);
		} else {
			x.innerHTML = "Geolocation is not supported by this browser.";
		}
	}
	function showPosition(position) {
		$('#latitude').val(position.coords.latitude );
		$('#longitude').val(position.coords.longitude );

		x.innerHTML = "Latitude: " + position.coords.latitude + 
		"<br>Longitude: " + position.coords.longitude;
		$('create_form').submit();
	}
</script>
