
<div id="status"></div>

<style type="text/css">
      #map-canvas { height: 100% }
    </style>
<h1>
	<%= if params[:event_id].present?
			e = Event.find(params[:event_id])
			e[:name]
		end
	%>	<small>check in</small>
</h1>

<% if params[:event_id].present?
		#puts "************************** EVENT ID "<< params[:event_id].to_s
		e = Event.find(params[:event_id])
		cookies['event_lat_long'] = {
		  :value => e.latitude.to_s << "|" << e.longitude.to_s
		}
	end %>

<% if flash[:message] %>
    <div style="color:red" class="notice"><%= flash[:message] %></div>
<% end %>

<%= render 'form' %>

<%= link_to 'Back', confirmations_path %>

<%- unless @user_lat_lng %>
<div id="map-canvas"/>

<%- end %>
